{% load static %}

<div class="candidate-details-div">

    <div class="candidate-details">
        
        <table class="details">
            <tr class="details-row">
                <td class="des">Aadhar No.:</td>
                <td>{{ details.uuid }}</td>
                <td rowspan="5" style="text-align: center;"><img class="candidate-photo" src = '{{ details.profile_pic }}'></td>
            </tr>
            <tr class="details-row">
                <td class="des">Name:</td>
                <td>{{ details.name }}</td>
            </tr>
            <tr class="details-row">
                <td class="des">DOB:</td>
                <td>{{ details.dob }}</td>
            </tr>
            <tr class="details-row">
                <td class="des">Pincode No.:</td>
                <td>{{ details.pincode }}</td>
            </tr>
            <tr class="details-row">
                <td class="des">Region:</td>
                <td>{{ details.region }}</td>
            </tr>
        </table>
        
    </div>

    <div class="associated-email-div">
        <div>
            Associated Email-ID:
            <br>
            <span>(Key will be send to this email-id, please verify it)</span>
        </div>
        <div class="associated-email-id">
            <input class="email-input" id="email-input" value="{{ details.email }}" disabled placeholder="Email-ID">
            <img id="verified-badge" src="{% static 'images/verified.png' %}">
            <a class="button" id="change-email">Change</a>
            <a class="button" id="send-otp">Send OTP</a>
        </div>
    </div>

    <div class="email-alert-msg">Please enter a valid Email-ID and verfiy it. Key will be sent to this Email-ID.</div>

    <div>
        <a class="vote-now disabled" id="vote-now">Vote Now</a>
    </div>

</div>

<div class="otp-verification">
    <div class="otp-div">
        <span id="otp-verfication-email">Email</span>
        <input id="otp-input" placeholder="Enter 8 characters OTP sent to your Email-ID." style="width: 350px;">
        <a class="button" id="verify">Verify</a>
        <a class="button" id="cancel-otp">Cancel</a>
    </div>
</div>

<script src="{% static 'scripts/candidate_details.js' %}"></script>