{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="{% static 'scripts/base.js' %}"></script>
<script src="{% static 'scripts/csrf.js' %}"></script>
<script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}

{% block main_content %}

<div class="authentication">

    <div class="covid-msg-container">
        <div>
            <div class="covid-img">
                <img src="{% static 'images/covid.png' %}">
            </div>
            <div class="covid-msg">
                <div class="cm-1">TO ENSURE SAFETY & STOP SPREAD OF</div>
                <div class="cm-2">COVID-19</div>
                <div class="cm-3">
                    <div class="cm-3a" id="covid-mg-tag">WORK</div>
                    <div class="cm-3b">FROM<br>HOME</div>
                </div>
            </div>
        </div>
        <div class="covid-links">
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">All Info about Covid-19 (WHO)</a>
            <a href="https://www.covid19india.org/" target="_blank">Corona Virus Outbreak in India</a>
        </div>
    </div>
    <span>Enter Your Aadhar Card Number (UIDAI Number)</span>
    <br>
    <div class="input-section">
        <input type="text" placeholder="xxxx xxxx xxxx" class="input-text" id="aadhar" autocomplete="off">
        <button type="submit" class="submit" onclick="submit_aadhar()">Authenticate</button>
    </div>

</div>

{% endblock %}